.profile-pic-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.profile-card {
    min-height: 600px;
    margin-bottom: 30px/* adjust as needed */
}
.action-card {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.35); /* light gray background */
    color: #666;              /* text color */
    transition: box-shadow 0.2s ease;
    border: none;             /* optional: remove default border */
}

.action-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #e0e0e0; /* slightly darker gray on hover */
}
.list-group-item {
    cursor: pointer;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item:hover {
    background-color: #f2f2f2;
}

