.footer {
  background-color: #f8f9fb;
  padding: 40px 60px;
  border-top: 1px solid #ddd;
  font-family: "Arial", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: px;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 14px;
  color: #002b5b;
  margin-bottom: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-section a {
  display: block;
  color: #002b5b;
  text-decoration: none;
  margin: 3px 0;
}

.footer-section a:hover {
  color: #0077b6;
}

.footer-section p {
  color: #002b5b;
  font-size: 14px;
  margin: 2px 0;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  font-size: 13px;
  color: #666;
}
